@import 'src/styles';

.navbar {
  background-color: $color-primary;
  overflow: hidden;

  a {
    float: left;
    color: $color-off-white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      background-color: $color-light-grey;
      color: black;
    }
    
    &.active {
      background-color: $color-terciary;
      color: white;
    }
  }
}
