@import 'src/styles';

.navbar {
  background-color: $color-primary;
  overflow: hidden;
  text-align: center;

  a {
    float: left;
    color: $color-off-white;
    padding: 0 16px;
    text-decoration: none;
    min-width: 3.5rem;

    &:hover {
      background-color: $color-light-grey;
      color: black;
    }
    
    &.active {
      background-color: $color-terciary;
      color: white;
    }
  }
}
