<app-header></app-header>

<form
  [formGroup]="dragonForm"
  (ngSubmit)="create ? createDragon() : updateDragon()"
>
  <label for="name">Name</label>
  &nbsp;
  <input id="name" type="text" formControlName="name" required />
  <br />

  <label for="type">Type</label>
  &nbsp;
  <input id="type" type="text" formControlName="type" />
  <br />

  <label for="title">Title</label>
  &nbsp;
  <input id="title" type="text" formControlName="title" />
  <br />

  <label for="histories">Histories</label>
  &nbsp;
  <button type="button" (click)="addHistoryField()">+</button>
  <div id="histories" formArrayName="histories">
    <div class="history-container" *ngFor="let historyControl of historiesControls; index as i">
      <textarea [id]="'history-' + (i + 1)" [formControl]="historyControl"></textarea>
      <button type="button" (click)="removeHistoryField(i)">➖</button>
    </div>
  </div>

  <button type="button" routerLink="..">Cancel</button>
  <button [disabled]="dragonForm.invalid">Submit</button>
  <br />
  <small *ngIf="dragonForm.invalid">Name is required</small>
</form>
