<app-header></app-header>

<form
  [formGroup]="dragonForm"
  (ngSubmit)="create ? createDragon() : updateDragon()"
>
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" required />

  <label for="type">Type</label>
  <input id="type" type="text" formControlName="type" />

  <label for="title">Title</label>
  <input id="title" type="text" formControlName="title" />

  <label for="histories">
    Histories
    <button type="button" title="Add a history field" (click)="addHistoryField()">➕</button>
  </label>
  <div id="histories" formArrayName="histories">
    <div class="history-container" *ngFor="let historyControl of historiesControls; index as i">
      <label [htmlFor]="'history-' + (i + 1)">History #{{ i + 1 }}</label>
      <div class="textarea-and-button-container">
        <textarea title="History" placeholder="Once upon a time..." [id]="'history-' + (i + 1)" [formControl]="historyControl"></textarea>
        <button type="button" [title]="'Remove History #' + (i + 1) +  ' field'" (click)="removeHistoryField(i)">➖</button>
      </div>
    </div>
  </div>

  <button type="button" title="Go back without registering a dragon" routerLink="..">Cancel</button>
  <button title="Register a dragon" [disabled]="dragonForm.invalid">Submit</button>
  <small *ngIf="dragonForm.invalid">Name is required</small>
</form>
