@import "src/assets/styles/colors";

html {
  background-color: $color-light-grey;
  font-family: 'Italianno', cursive;
  font-size: x-large;
}

body {
  margin: 0;
}

table {
  margin: 5px;
  padding: 5px;
  border-collapse: collapse;

  th {
    border-bottom: 2px solid;
    text-align: left;
  }

  tbody {
    button {
      width: 100%;
    }
  }

  td,
  th {
    margin: 4px;
    padding: 4px;
  }
}

h1 {
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;

  label {
    font-size: small;
  }

  input {
    margin-bottom: 5px;
    width: auto;
  }
}

a:link {
  text-decoration: none;
  color: black
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1rem;

  &:hover {
    background: #555;
  }
}