h2 {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

button {
  margin: 0.25em;
}

.attribute {
  font-weight: bold;
}

.history-content {
  white-space: pre-wrap;
}

.buttons-container {
  margin-top: 1em;
}